asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
cryptography
daphne
Django
django-cors-headers
hyperlink
idna
incremental
Pillow
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
requests
service-identity
setuptools
six
sqlparse
Twisted
txaio
typing_extensions
urllib3
zope.interface
psycopg2-binary
